mixin topCafesTable(cafes)
    table.table.table-hover
        thead
            tr
                th Kohviku nimi
                th Hinnang
                th Asukoht
        tbody
            tr
                td Kohvik
                td 4
                td Asukoht
            tr
                td Kohvik
                td 4
                td Asukoht
            tr
                td Kohvik
                td 4
                td Asukoht