extends layout

block content
    section
        .jumbotron.text-center
            .container
                h1.display-4
                    if user
                        h1 Tere, #{user.name}!
                    else
                        h1 Tere, tulemast!
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam numquam rerum minima distinctio excepturi veritatis quibusdam molestias totam cumque perspiciatis temporibus quasi ipsa vel voluptatem ut incidunt, modi placeat velit!

    .album
        .container.inner
            .row