extends layout

block content
    section
        .jumbotron.text-center
            .container
                h1.display-4
                    if user
                        h1 Tere, #{user.name}!
                    else
                        h1 Tere, tulemast!
                p Siin lehel saad vaadata Haapsalu kohvikuid, neid hinnata ja kommenteerida.

    .album
        .container.inner
            .row