extends layout

include components/_reviewForm
include components/_review

block content
    .container
        .single
            .single-cafe
                span(class="single-cafe-header" style=`background-image: url(../uploads/${cafe.photo});`)
                .single-cafe-name
                    h2 #{cafe.name}
                .single-cafe-summary
                    i(class="fa fa-map-marker")  #{cafe.location}
                .single-cafe-summary
                    p #{cafe.description}
                if user
                    +reviewForm(cafe)
                if cafe.reviews
                    each r in cafe.reviews
                        +review(r)