body {
  min-height: 100vh; 
  font-family: 'PT Serif', serif;
  margin-bottom: 60px;
}

html {
    overflow-y: scroll;
    position: relative;
}

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

h1 span {

}

.row {
    overflow: hidden;
}

a {
    cursor: pointer;
    text-decoration: none;
}

/*p { 
    white-space: pre;
}*/

hr {
    margin: 0;
}

/* NAVIGATION */
.navbar {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    min-height: 53px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
    background-color: #B5BCC2;
}

navbar.fixed-top.navbar-toggleable-sm.navbar-inverse.bg-inverse.flex-nowrap {
    margin-bottom: 60px;
}

.navbar.bg-white:not(.navbar-transparent) a:not(.dropdown-item) {
  color: black;
}

.navbar.bg-white:not(.navbar-transparent) a:not(.dropdown-item):hover {
    color: #FC6C62;
}

.navbar .navbar-nav .nav-link {
    text-transform: uppercase;
    /*font-size: 0.8em;*/
    padding: 0.5rem 0.7rem;
    letter-spacing: 2px;
}

.active {
    background-color: #E9EAEC;
    border-radius: 5px;
}

.navbar-toggler.navbar-toggler-right {
    outline: none;
}

.inset {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding-right: 50px;
    margin: 0;
    z-index: 9;
}

.inset img {
    border-radius: inherit;
    width: inherit;
    height: inherit;
    display: block;
    position: relative;
    z-index: 10;
}

/* JUMBOTRON */

.jumbotron {
    background-color: white;
    padding: 1rem 2rem;
}

/* SINGLE CAFE */
.single {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
  padding: 1.5%;
  box-sizing: border-box;
}

.single-cafe {
  position: relative;
  background: #fefff9;
  color: #363636;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  border-radius: 4px;
  width: 80%;
}

.single-cafe .single-cafe-header {
  position: relative;
  height: 200px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.15);
  background-blend-mode: overlay;
  border-radius: 4px 4px 0 0;
}

.single-cafe span {
  display: block;
}

.single-cafe .single-cafe-name {
  background: rgba(181, 238, 205, 0.85);
  padding: 3.5% 0 2.5% 0;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  bottom: 0;
  width: 100%;
}

.single-cafe .single-cafe-name h2 {
  font-size: 2em;
  line-height: 1.2;
  padding: 0 3.5%;
  margin: 0;
}

.single-cafe-location {
    padding: 1% 5%;
}

.single-cafe-comments {
    padding: 1% 5%;
    background-color: white;
}

.single-cafe-review {
    padding: 1% 5%;
}

.single-cafe .single-cafe-summary {
  padding: 5% 1% 1% 5%;
  text-align: left;
}

/* REVIEWS */

.review-post-author {
    margin-bottom: .25rem;
    font-size: 1rem;
}
.review-post-meta {
    margin-bottom: .25rem;
    font-size: .8rem;
    color: #999;
}

.review-post-text {
    margin-top: 1rem;
    font-size: 1rem;
}

.review-value {
    padding-right: 1rem;
}

/* CONTAINER */
.inner {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem; 
}

/* FORM */

.form-wrapper {
    margin-top: 40px;
    padding: 20px;
    border: 1px solid rgba(34, 36, 38, .1);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

/* BUTTONS */
.btn {
    cursor: pointer;
}

.btn.main {
    background-color: #B4D3E8;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.btn.main:hover {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.24),0 10px 30px 0 rgba(0,0,0,0.19);
    background-color: #B5EECD;
    color: black;
}

/* CARD */
.cards a {
    text-decoration: none;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
  padding: 1%;
  box-sizing: border-box;
}

.card {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 30px;
  background: #fefff9;
  color: #363636;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  border-radius: 4px;
  width: 33.333333%;
}

.card span {
  display: block;
}

.card .card-summary {
  padding: 5% 5% 3% 5%;
  text-align: left;
}

.card .card-header {
  position: relative;
  height: 175px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.15);
  background-blend-mode: overlay;
  border-radius: 4px 4px 0 0;
}


.card .card-header:hover, .card .card-header:focus {
  background-color: rgba(255, 255, 255, 0);
}

.card .card-title {
  background: rgba(181, 238, 205, 0.85);
  padding: 3.5% 0 2.5% 0;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.card .card-title h3 {
  font-size: 1.2em;
  line-height: 1.2;
  padding: 0 3.5%;
  margin: 0;
}

.card .card-meta {
  max-height: 0;
  overflow: hidden;
  color: #666;
  font-size: .78em;
  text-transform: uppercase;
  position: absolute;
  bottom: 5%;
  padding: 0 5%;
  transition-timing-function: ease-in-out;
}

.card:hover, .card:focus {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
  color: black;
}

.card:hover .card-title, .card:focus .card-title {
  background: rgba(181, 238, 205, 1);
  color: rgba(0, 0, 0, 0.5);
}

.card:hover .card-meta, .card:focus .card-meta {
  max-height: 1em;
}

.location {
    font-size: .78em;
}

.stars {
    font-size: .78em;
}

/* SEARCH BOX */
.search-cafe-input {
    padding-left: 10px;
    position: relative;
    display: flex;
}

.search-cafe-box {
    width: 100%;
    position: relative;
    display: flex;
    outline: 0;
    border-radius: 0;
}

.search-cafe-results {
    background: white;
    position: absolute;
    width: 100%;
    top: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 5;
}

.search-cafe-results a {
    text-decoration: none;
}

.search-cafe-result {
    padding: 10px;
    display: block;
    border-bottom: 1px solid #ececec;
}
.active-row {
    background: #CCC;
}

/* FLASH MESSAGES */
.flash__m {
	animation: shakeFlashMessage forwards .1s ease-in-out 2;
	animation-timing-function: cubic-bezier(0.01, 1.68, 0.58, 1);
}

.flash__m + .flash__m {
	animation-delay: 0.55s; 
}

.flash__m + .flash__m + .flash__m {
	animation-delay: 0.6s;
}

/* FOOTER */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  background-color: #B5BCC2;
}

/* ANIMATIONS */
@keyframes shakeFlashMessage {
  0% {
        transform: translateX(-10px);
    }
  50% {
        transform: translateX(10px);
    }
  100% {
        transform: translateX(0px);
    }
}

/*@media (min-width: 1200px) {
    .container {
        max-width: 970px;
    }
}*/


@media (max-width: 800px) {
  .card {
    width: 100%;
  }
}

@media (min-width: 800px) {
  .card {
    max-width: 320px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .card:nth-child(even) {
    margin-right: 0;
  }
}

@media (min-width: 980px) {
  .card:nth-child(even) {
    margin-right: 20px;
  }
  .card:nth-child(3n) {
    margin-right: 20px;
  }
}

@media all and (max-width: 900px) {
    .inner {
        padding: 2rem; 
    }
}